.recipe {
  &__fig {
    position: relative;
    height: 38rem;

    &::before {
      position: absolute;
      top: 0;
      left: 0;
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      background-image: $gradient;
      opacity: 0.6;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__title {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 20%) skewY(-6deg);
    color: #fff;
    font-weight: 700;
    font-size: 3.25rem;
    width: 50%;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.95;

    span {
      -webkit-box-decoration-break: clone;
      box-decoration-break: clone;
      padding: 1.3rem 2rem;
      background-image: $gradient;
    }

    @media only screen and (max-width: $bp-medium) {
      width: 70%;
    }
  }

  &__details {
    display: flex;
    align-items: center;
    padding: 7.5rem 8rem 3.5rem;
  }

  &__info {
    display: flex;
    align-items: center;
    font-size: 1.65rem;
    text-transform: uppercase;

    &:not(:last-child) {
      margin-right: 4.5rem;
    }
  }

  &__info-icon {
    width: 2.35rem;
    height: 2.35rem;
    fill: $color-primary;
    margin-right: 1.15rem;
  }

  &__info-data {
    margin-right: 0.5rem;
    font-weight: 700;
  }

  &__info-buttons {
    display: flex;
    margin-left: 1.6rem;
    transform: translateY(-1px);
  }

  &__user-generated {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    border-radius: 10rem;
    background-color: darken($color-grey-light-2, 2%);
    margin-right: 1.75rem;
    margin-left: auto;

    svg {
      width: 2.25rem;
      height: 2.25rem;
      fill: $color-primary;
    }
  }

  &__ingredients {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem 8rem;
    font-size: 1.6rem;
    line-height: 1.4;
    background-color: $color-grey-light-2;
  }

  &__ingredient-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem 3rem;
  }

  &__ingredient {
    display: flex;
  }

  &__icon {
    width: 2rem;
    height: 2rem;
    fill: $color-primary;
    margin-right: 1.1rem;
    margin-top: 0.1rem;
  }

  &__quantity {
    margin-right: 0.5rem;
  }

  &__directions {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem 10rem;
  }

  &__directions-text {
    font-size: 1.7rem;
    text-align: center;
    margin-bottom: 3.5rem;
    color: $color-grey-dark-2;
  }

  &__publisher {
    font-weight: 700;
  }
}
